
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>

      <img src="assets/img/steve_400_300.png">
      
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Steve Jobs</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Steven Paul Jobs foi um inventor, empresário e magnata americano no setor da informática. Notabilizou-se como co-fundador, presidente e diretor executivo da Apple Inc. e por revolucionar seis indústrias: computadores pessoais, filmes de animação, música, telefones, tablets e publicações digitais.
    </ion-card-content>
    
  </ion-card>


</ion-content>
